VITE_APP_NAME=replace_me
VITE_APP_ENV=local
VITE_STRIPE_PUBLISHABLE_KEY=replace_me
VITE_SUPABASE_URL=replace_me
VITE_SUPABASE_ANON_KEY=replace_me
STRIPE_PUBLISHABLE_KEY=replace_me
STRIPE_SECRET_KEY=replace_me
# Leave the webhook secret empty for now, or use a placeholder
STRIPE_WEBHOOK_SECRET=replace_me
